.count{
    min-width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 160px;
    color: white;
    border: 8px solid white;
    margin-bottom: 15px;
    padding: 25px
}