*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*le dice como se va a comportar el ancho y alto de los elementos*/
}

html,
body{
    background-color: #1b1b32;
}

.App{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
}

.image-freeCodeCamp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.logo{
    height: 50px;
}

.container{
    height: 550px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
